@model learnchess.Models.Author

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Author</h1>
<hr />
<div class="row my-1">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="AuthorId" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SurName" class="control-label"></label>
				<input asp-for="SurName" class="form-control" />
				<span asp-validation-for="SurName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BirthYear" class="control-label"></label>
				<input asp-for="BirthYear" class="form-control" />
				<span asp-validation-for="BirthYear" class="text-danger"></span>
			</div>
			<div class="form-group my-2">
				<input type="submit" value="Save" class="btn btn-outline-info" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" type="button" class="btn btn-outline-warning">Back to List</a>
</div>