<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - learnchess</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/learnchess.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark  box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">learnchess</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex  justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Articles" asp-action="ArticlePage">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Contact Us</a>
                        </li>
                    </ul>
					<partial name="_LoginPartial" />
                </div>
				 
            </div>
           
        </nav>
    </header>
    <div class="container">
        <main role="main" class="min-vh-100">
            @RenderBody()
        </main>
    </div>
	<footer class="bg-dark text-white pt-5 pb-3">

		<div class="container text-center text-md-left">

			<div class="row text-center text-md-left">

				<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
					<h5 class="text-uppercase mb-4 font-weight-bold text-success">learnchess</h5>
					<p>
						Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
						ital consectetur lorem ipsum dolor sit amet adipisicing elit.
					</p>

				</div>

				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<h5 class="text-uppercase mb-4 font-weight-bold text-success ">Products</h5>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">chess NEWS</a>
					</p>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">chess GrandMasters</a>
					</p>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">chess BOOKS</a>
					</p>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">chess ...</a>
					</p>

				</div>

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
					<h5 class="text-uppercase mb-4 font-weight-bold text-success">Useful links</h5>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">Log in Account</a>
					</p>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">Authors/Articles</a>
					</p>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;">SearchInput/osetjeter</a>
					</p>
					<p>
						<a href="#" class="text-white" style="text-decoration: none;"> Help</a>
					</p>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h5 class="text-uppercase mb-4 font-weight-bold text-success">Contact</h5>
					<p>
						<i class="fas fa-home mr-3"></i>Linku Per ContactUS
					</p>
					<p>
						<i class="fas fa-envelope mr-3"></i>Ferizaj, 05 70000, KS
					</p>
					<p>
						<i class="fas fa-print mr-3"></i>filan@ubt-uni.net
					</p>
					<p>
						<i class="fas fa-phone mr-3"></i>+38345472620
					</p>
				</div>

			</div>

			<hr class="mb-4">

			<div class="row align-items-center">

				<div class="col-md-7 col-lg-8">
					<p>
						Copyright ©2020 All rights reserved by:
						<a href="#" style="text-decoration: none;">
							<strong class="text-warning">learnchess</strong>
						</a>
					</p>

				</div>

				<div class="col-md-5 col-lg-4">
					<div class="text-center text-md-right">

						<ul class="list-unstyled list-inline">
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm text-withe" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm text-withe" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm text-withe" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm text-withe" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm text-withe" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
							</li>
							<li>
								<i class="bi-github" role="img" aria-label="GitHub"></i>
							</li>
						</ul>

					</div>

				</div>

			</div>

		</div>

	</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
