@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h1 class="text-center mt-5 mb-5">@ViewData["Title"]</h1>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/Photos/Register.png"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                 
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    
                        <div class="form-outline mb-4">
                       
                        <input asp-for="Input.FirstName" class="form-control form-control-lg" aria-required="true" />
                        <label class="form-label" for="form3Example3">First name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">

                        <input asp-for="Input.LastName" class="form-control form-control-lg" aria-required="true" />
                        <label class="form-label" for="form3Example3">Last name</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">

                        <input asp-for="Input.Email" class="form-control form-control-lg" aria-required="true" autocomplete="username" />
                        <label class="form-label" for="form3Example3">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">

                    <input asp-for="Input.Password" class="form-control form-control-lg" aria-required="true" autocomplete="new-password" />
                    <label class="form-label" for="form3Example3">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">

                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" aria-required="true" autocomplete="new-password" />
                        <label class="form-label" for="form3Example3">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">

                        <input asp-for="Input.Address" class="form-control form-control-lg" aria-required="true" />
                        <label class="form-label" for="form3Example3">Address</label>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>


           



                   

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                           Register
                        </button>
                        
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />}
