@model IEnumerable<learnchess.Models.Videos>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Videos Page";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body class="bg-secondary">
	<h1>Chess Videos</h1>

	<div class="row row-cols-1 row-cols-md-2 g-4">
		@foreach (var Videos in Model)
		{
			<div class="col">
				<div class="card">
					@if (Videos.Video != null)
					{
						<div class="card">
							<img id="photo" class="img-fluid rounded-start" alt="..." style="object-fit:cover; height:21rem;width:100%;" src="data:image/*;base64,@(Convert.ToBase64String(Videos.Video))">
						</div>
					}

					<div class="card-img-overlay text-warning text-sm-center">
						<h5 class="card-title">@Html.DisplayFor(modelItem => Videos.Title)</h5>
						<p class="card-text">@Html.DisplayFor(modelItem => Videos.Description)</p>
						<a class="btn btn-danger" href="@Html.DisplayFor(modelItem => Videos.Url)"><i class="fas fa-play me-2"></i>Play</a>
					</div>
				</div>
			</div>
		}
	</div>
</body>
