@model learnchess.Models.Levels

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create New Levels</h1>

<hr />
<div class="row">
	<div class="col-md-4 bg-dark text-white">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Level" class="control-label"></label>
				<input asp-for="Level" class="form-control" />
				<span asp-validation-for="Level" class="text-danger"></span>
			</div>
			<div class="form-group my-2">
				<input type="submit" value="Create" class="btn btn-outline-primary" />
			</div>
			<div class="my-2">
				<a asp-action="Index" type="button" class="btn btn-outline-warning">Back to List</a>
			</div>
		</form>
	</div>
</div>
